# Root node modules
/node_modules

# API backend node modules
/api/node_modules

# Prisma migrations
/api/prisma/migrations

# API build output
/api/dist

# Next.js build output
.next

# Environment variables
.env

# VS Code settings
.vscode
